<h1>Sign In</h1>

<%= simple_form_for :user do |f| %>
  <%= f.input :email %>
  <%= f.input :password %>
  <%= f.submit 'Sign in' %>
<% end %>

<hr>
<p>
  New to Rhubarb?
  <%= link_to 'Create an account', sign_up_path %>
</p>
