<h1>Edit Profile</h1>

<%= simple_form_for @user do |f| %>
  <%= f.input :name %>
  <%= f.input :email %>
  <%= f.input :password %>
  <%= f.submit 'Save changes' %>
<% end %>

<hr>
<%= link_to 'Back', :back %>
