<h1>Sign Up</h1>

<%= simple_form_for @user do |f| %>
  <%= f.input :name %>
  <%= f.input :email %>
  <%= f.input :password %>
  <%= f.submit 'Sign up' %>
<% end %>

<hr>
<p>
  Already a member?
  <%= link_to 'Sign in', sign_in_path %>
</p>
