<h1>My Profile</h1>

<div class="user-information">
  <div class="attribute"><%= label_tag 'name' %><%= @user.name %></div>
  <div class="attribute"><%= label_tag 'email' %><%= @user.email %></div>
</div>

<hr>

<div class="user-options">
  <div class="standard-options">
    <% if policy(@user).edit? %>
      <div><%= link_to 'Edit profile', edit_user_path(@user) %></div>
    <% end %>
    <div><%= link_to 'Back', :back %></div>
  </div>

  <div class="destructive-options">
    <% if policy(@user).destroy? %>
      <div>
        <%= link_to 'Delete account', new_user_deletion_path(id: @user) %>
      </div>
   <% end %>
  </div>
</div>
